@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-family: 'Libre Franklin', sans-serif;
margin-top: 100px;}
.we{
   color: hsl(0, 0%, 59%);  
   font-weight: 300;
}
.soon{
    color:#000;
}
.form{
   margin-bottom: 50px;
}
#email{
    border-radius: 25px;
    width: 350px;
    height: 50px;
}
.dashboard{
        width: 600px;
    height: 400px;}
.submit{
    border-radius: 25px;
    background-color:blue;
    border-color: blue;
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-family: "Libre Franklin",sans-serif;
    margin-left: 15px;
}
.ddiv{
    display:flex;
    gap:20px;
    margin-top:75px;
}
